.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  body{
    background-color: rgb(218, 210, 204);
  }
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: whitesmoke;
    border: none;
    padding: 10px;
  }
  
  .task-list {
    list-style-type: none;
  }
  